---
import InstallmentLayout from "../../layouts/InstallmentLayout.astro";
import Haiku from "../../components/Haiku.astro";

const styles = `m-10 text-gray-700 text-4xl font-mono`;
---

<InstallmentLayout title="Fall 2021: This Fallen World">
  <header class="bg-blue-400 p-5 text-gray-700">
    <h1 class="mt-5 text-3xl">This Fallen World</h1>
    <h2 class="mt-5 text-2xl">Haiku of dubious quality by Jonathan E. Magen</h2>
    <h3 class="mt-5 text-xl">Fall 2021</h3>
  </header>

  <main class="this-fallen-world p-5 bg-gray-50">
    <Haiku styles={`${styles} text-right`}>
      <p>Crisp descent</p>
      <p>As if from heaven</p>
      <p>Autumnal leaves</p>
    </Haiku>

    <Haiku styles={`${styles} text-center`}>
      <p>A naked branch</p>
      <p>Among its brethren</p>
      <p>In the chill</p>
    </Haiku>

    <Haiku styles={styles}>
      <p>As crickets quiet</p>
      <p>With the rising</p>
      <p>Of fall's late sun</p>
    </Haiku>

    <Haiku styles={`${styles} text-center`}>
      <p>On bare branches</p>
      <p>The birds remember</p>
      <p>Cherry blossoms</p>
    </Haiku>

    <Haiku styles={`${styles} text-right`}>
      <p>Squirrels dart</p>
      <p>Among brown leaves</p>
      <p>This fallen world</p>
    </Haiku>

    <Haiku styles={`${styles} text-center`}>
      <p>Growing darker</p>
      <p>As trees shed clothing</p>
      <p>Each step rustles</p>
    </Haiku>

    <Haiku styles={styles}>
      <p>Among the children</p>
      <p>None are strangers</p>
      <p>At the park</p>
    </Haiku>

    <Haiku styles={`${styles} text-center`}>
      <p>How cold the breeze</p>
      <p>Of fall's growing song</p>
      <p>Through tree and bush</p>
    </Haiku>

    <Haiku styles={`${styles} text-right`}>
      <p>I can see my breath</p>
      <p>As my nose gets</p>
      <p>Cold and runny</p>
    </Haiku>

    <Haiku styles={`${styles} text-center`}>
      <p>Spinning downward</p>
      <p>Red and amber</p>
      <p>At my feet</p>
    </Haiku>

    <Haiku styles={styles}>
      <p>As branches turn</p>
      <p>And change their shade</p>
      <p>The tea cools</p>
    </Haiku>

    <Haiku styles={`${styles} text-center`}>
      <p>Fall's whistling breeze</p>
      <p>Squirrels and birds</p>
      <p>Listen closely</p>
    </Haiku>

    <Haiku styles={`${styles} text-right`}>
      <p>How cold the breeze</p>
      <p>Of fall's growing song</p>
      <p>Through tree and bush</p>
    </Haiku>

    <Haiku styles={`${styles} text-center`}>
      <p>The sycamore carpet</p>
      <p>With earth tones from</p>
      <p>Pine, oak, maple</p>
    </Haiku>

    <Haiku styles={styles}>
      <p>This wobbly decent</p>
      <p>Into the cold</p>
      <p>Of summer's memory</p>
    </Haiku>

    <Haiku styles={`${styles} text-center`}>
      <p>The sparrow in fall</p>
      <p>Fluffs up her down</p>
      <p>Against the chill</p>
    </Haiku>

    <Haiku styles={`${styles} text-right`}>
      <p>Down from branches</p>
      <p>All the while</p>
      <p>Fluttering</p>
    </Haiku>

    <Haiku styles={`${styles} text-center`}>
      <p>Frost from grey skies</p>
      <p>Gathers on the green</p>
      <p>Already melting</p>
    </Haiku>

    <Haiku styles={styles}>
      <p>Doing chores</p>
      <p>The sudden cold</p>
      <p>Stings my nose</p>
    </Haiku>

    <Haiku styles={`${styles} text-center`}>
      <p>Emerging on eight legs</p>
      <p>To spin silver</p>
      <p>From under the sepia carpet</p>
    </Haiku>
  </main>
</InstallmentLayout>
